<% if current_user %>
  <h2><%= current_user.email %></h2>
  <%= image_tag(current_user.avatar_url) %>
  <%= link_to "Edit Account", edit_user_registration_path %>
  <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<div class="container mt-5">
  <%= form_with model: @subscriber, class: 'row' do |form| %>
    <div class="row">
      <div class="col-auto text-start">
        <label for="subscriber-name-tf" class="form-label">Subscriber name</label>
        <%= form.text_field :name, id: 'subscriber-name-tf', class: 'form-control text-start' %>
        <div class="form-text">Create a Subscriber to get a URL, which can be used to receive webhook notifications.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <%= form.submit class: 'btn btn-primary mt-3' %>
      </div>
    </div>
  <% end %>
</div>